    <h4>マイページ</h4>
    <%#= attachment_image_tag(user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg") %>
      <p>名前</p><% @current_user.name %>
      <p>紹介文</p><% @current_user.introduction %>
      <p><%= link_to "編集", edit_user_path(@user) %></p>
      <p>フォロー：<%#= followed.count %>人<br>フォロワー：<%#= follower.count %>人</p>
      <% render "/users/follow" %>

     <h2><% @current_user.name %>さんの投稿</h2>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <table class="post-block">
            <tbody>
              <tr>
                <div class="post-containar py-5">
                  <% @posts.each do |post| %>
                    <div class="post w-50 mx-auto mt-4 shadow-lg">
                      <%= link_to post_path(post.id) do %>
                        <%#= attachment_image_tag post_image, :image, class:"card-img-top"; %>
                      <% end %>
                    <div class="post-body">
                      <div class="row">
                        <div class="col-2">
                          <%#= attachment_image_tag image.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
                        </div>
                        <div class="col-10">
                          <p class="post-title">
                            <%= link_to(post_path(post.id), class:"text-dark") do %>
                               <%= post.title %>
                            <% end %>
                          </p>
                          <p class="post-text"><%= post.caption %></p>
                          <span>
                            <i class="fas fa-user"></i>
                             投稿者<%= post.user.name %> ｜ </span>
                          <span><%#= link_to "#{post_comments.count} コメント", post_path(post.id), class:"text-dark" %></span>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
    <% end %>
    <%#= paginate @post_all %>





