    <% if current_user == @user %>
    <h4>マイページ</h4>
    <%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
      <p>名前：<%= @current_user.name %> </p>
      <p>紹介文：　<% @current_user.introduction %></p>
      <p><%= link_to "マイページを編集する", edit_user_path(@user) %></p>
      <p>フォロー：<%= link_to @user.followings.count, user_followings_path(@user) %>人<br>
      フォロワー：<%= link_to @user.followers.count, user_followers_path(@user) %>人</p>
      <%= render "/users/follow", user:@user %>
    <% else %>
      <h4><%= @user.name %>さんのページ</h4>
    <% end %>
     <h2><%= @user.name %>さんの投稿</h2>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <table class="post-block">
            <tbody>
              <tr>
                <div class="post-containar py-5">
                  <% @posts.each do |post| %>
                    <div class="post w-50 mx-auto mt-4 shadow-lg">
                      <%= link_to post_path(post.id) do %>
                        <%= attachment_image_tag post, :image, class:"card-img-top"; %>
                      <% end %>
                    <div class="post-body">
                      <div class="row">
                        <div class="col-2">
                        </div>
                        <div class="col-10">
                          <p class="post-title">
                            <%= link_to(post_path(post.id), class:"text-dark") do %>
                               <%= post.title %>
                            <% end %>
                          </p>
                          <p class="post-text"><%= post.caption %></p>
                          <span>
                            <i class="fas fa-user"></i>
                             投稿者<%= post.user.name %> ｜ </span>
                          <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class:"text-dark" %></span>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              </tr>
            </tbody>
          </table>
        </div>
    <% end %>
    <%#= paginate @post_all %>





