<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ログイン</h2>
      <p>会員の方はこちらからログイン</p>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field mt-2">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.text_field :email, autofocus: true, class: "email" %>
        </div>
        <div class="field mt-2">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "password" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="actions mt-4">
          <%= f.submit "ログイン", class: 'btn btn-sm btn-primary'%>
        </div>
      <% end %>
      <div class="field mt-2">会員登録がお済みでない方</di>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
