<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>該当ユーザー</th>
      <th>ユーザー名</th>
      <th>タイトル</th>
      <th>画像</th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to user_path(post) do %>
          <%= attachment_image_tag(post.user, :profile_image, :fill, 50, 50, size: "50x50", fallback: "no_image.jpg") %>
          <% end %>
        </td>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= attachment_image_tag(post, :image, :fill, 100, 100, size: "100x100", fallback: "no_image.jpg") %></td>

      </tr>
    <% end %>
  </tbody>
</table>