  <div class="nav_season">
    <p>見たい投稿の季節を選んでください</p>
      <%= link_to "春", posts_path(:season => "春"), class: "season", remote:true %>
      <%= link_to "夏", posts_path(:season => "夏"), class: "season", remote:true %>
      <%= link_to "秋", posts_path(:season => "秋"), class: "season", remote:true %>
      <%= link_to "冬", posts_path(:season => "冬"), class: "season", remote:true %>
      <%= link_to "その他", posts_path(:season => "その他"), class: "season", remote:true %>
  </div>


