 <p>投稿を見たい季節を選んでください</p>
  <%= link_to "春", posts_path(:season => "春") %>
  <%= link_to "夏", posts_path(:season => "夏") %>
  <%= link_to "秋", posts_path(:season => "秋") %>
  <%= link_to "冬", posts_path(:season => "冬") %>
  <%= link_to "その他", posts_path(:season => "その他") %>

  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
      </div>
      <div class="col-10">
        <p class="post-time">
          <%= post.created_at.strftime("%Y-%m-%d") %>
        </p>
        <p class="card-title">
          <%= link_to(post_path(post.id), class:"text-dark") do %>
            <%= post.title %>
          <% end %>
        </p>
        <p class="card-text"><%= post.caption %></p>
        <span><i class="fas fa-user"></i> 投稿者<%= post.user.name %> ｜ </span>
        <span><%= link_to "コメント#{post.post_comments.count} 件", post_path(post.id), class:"text-dark" %>
      </div>
    </div>
  </div>
  
  
  
  
 