<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>投稿編集</h2>
    <%= form_with model: @post, url: post_path, local:true do |f| %>
      <%#= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :投稿画像 %>
        <%= attachment_image_tag @post, :image, class:"card-img-top"; %>      </div>
      <div class="form-group">
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control title" %>
      </div>
      <div class="form-group">
        <%= f.label :ジャンル名 %>
        <%= f.select :genre_id, Post.genre_ids.keys, include_blank: "選択して下さい" %>
      </div>
      <div class="form-group">
        <%= f.label :説明 %>
        <%= f.text_area :caption, class: "form-control caption" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
