  <div class='container'>
    <div class='row'>
      <div class='col-md-2'>
        <%= render "posts/ranking", all_ranks:@all_ranks %>
      </div>
          <% if @posts == nil %>
          <div class='col-md-10'>
            <h2 class ="posts-index">みんなの投稿</h2>
            <%= render 'searches/searches' %>
            <p>見たい投稿の季節を選んでください</p>
            <div class="nav_season">
              <%= link_to "春", posts_path(:season => "春"), class: "season" %>
              <%= link_to "夏", posts_path(:season => "夏"), class: "season" %>
              <%= link_to "秋", posts_path(:season => "秋"), class: "season" %>
              <%= link_to "冬", posts_path(:season => "冬"), class: "season" %>
              <%= link_to "その他", posts_path(:season => "その他"), class: "season" %>
            </div>

            <div class="card-list-containar py-5">
              <% @post_all.each do |post| %>
                <div class="card w-50 mx-auto mt-4 shadow-lg">
                  <%= link_to post_path(post.id) do %>
                    <%= attachment_image_tag post, :image, class: "card-img-top" %>
                  <% end %>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-10">
                        <p class="card-title">
                          <%= link_to(post_path(post.id), class:"text-dark") do %>
                            タイトル：<%= post.title %>
                          <% end %>
                        </p>
                        <p class="post-text">ジャンル：<%= post.genre_id %></p>
                        <p class="card-text">説明文：<%= post.caption %></p>
                        <%# truncate(@post.description, length: 10) do %>
                          <p><%#= link_to '続き', ... %></p>
                        <%# end %>
                        <span>
                          <%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class:"mt-3 rounded-circle"; %>
                          </i> 投稿者：  <%= post.user.name %> ｜
                        </span>
                        <span><%= link_to "コメント#{post.post_comments.count} 件", post_path(post.id), class:"text-dark" %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%= paginate @post_all %>
            </div>
        <% else %>
        <div class='col-md-10'>
          <h1><%= @genre_name %>の投稿</h1>
          <p>見たい投稿の季節を選んでください</p>
          <%= link_to "春", posts_path(:season => "春") %>
          <%= link_to "夏", posts_path(:season => "夏") %>
          <%= link_to "秋", posts_path(:season => "秋") %>
          <%= link_to "冬", posts_path(:season => "冬") %>
          <%= link_to "その他", posts_path(:season => "その他") %>

          <div class="card-list-containar py-5">
            <% @posts.each do |post| %>
              <div class="card w-50 mx-auto mt-4 shadow-lg">
                <%= link_to post_path(post.id) do %>
                  <%= attachment_image_tag post, :image, class:"card-img-top"; %>
                <% end %>
                <div class="card-body">
                  <div class="row">
                    <div class="col-10">
                      <p class="card-title">
                        <%= link_to(post_path(post.id), class:"text-dark") do %>
                           タイトル：<%= post.title %>
                        <% end %>
                      </p>
                      <p class="post-text">ジャンル：<%= post.genre_id %></p>
                      <p class="card-text">説明文：<%= post.caption %></p>
                      <span>
                        <%= attachment_image_tag post.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class:"mt-3 rounded-circle"; %>
                      </i> 投稿者<%= post.user.name %> ｜
                      </span>
                      <span><%= link_to "コメント#{post.post_comments.count} 件", post_path(post.id), class:"text-dark" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <%#= paginate @posts %>
        <% end %>
      </div>
    </div>
  </div>
