<h1>新規投稿</h1>
<!-- form_with部分 -->
<%= form_with model: @post, url:'/post', local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>ジャンル選択</h4>
  <%= form_with model: genre.name do |f| %>
    <%= f.select :season, [["春", "春"], ["夏", "夏"], ["秋", "秋"], ["冬", "冬"], ["その他", "その他"]], include_blank: "選択して下さい" %>
  <% end %>
  <%= f.text_area :contet %>
  <h4>本文</h4>
  <%= f.text_area :contet %>
  <!-- 追加部分 -->
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <%= f.submit '投稿' %>
<% end %>
